* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #000;
    color: #d8d8d8;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    cursor: default;
}


/* =========================================================
   GLOBAL HORROR EFFECTS
========================================================= */

#scanlines {
    position: fixed;
    inset: 0;

    pointer-events: none;

    z-index: 9000;

    background:
        repeating-linear-gradient(
            to bottom,
            transparent 0px,
            transparent 3px,
            rgba(255,255,255,.025) 4px
        );

    opacity: .5;
}

#vignette {
    position: fixed;
    inset: 0;

    pointer-events: none;

    z-index: 9001;

    box-shadow:
        inset 0 0 180px #000,
        inset 0 0 350px #000;
}

#static {
    position: fixed;
    inset: -50%;

    pointer-events: none;

    z-index: 8999;

    opacity: .045;

    background-image:
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.8' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)'/%3E%3C/svg%3E");

    animation: staticMove .15s steps(2) infinite;
}

@keyframes staticMove {

    0% {
        transform: translate(0,0);
    }

    25% {
        transform: translate(3%,-2%);
    }

    50% {
        transform: translate(-2%,3%);
    }

    75% {
        transform: translate(2%,2%);
    }

    100% {
        transform: translate(0,0);
    }
}

#redFlash {
    position: fixed;
    inset: 0;

    pointer-events: none;

    z-index: 8998;

    background: #a00000;

    opacity: 0;
}

#distortion {
    position: fixed;
    inset: 0;

    pointer-events: none;

    z-index: 8997;

    opacity: 0;

    background:
        linear-gradient(
            90deg,
            transparent,
            rgba(255,0,0,.15),
            transparent
        );
}


/* =========================================================
   INTRO
========================================================= */

#intro {

    position: fixed;

    inset: 0;

    z-index: 10000;

    background: #000;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    transition:
        opacity 1.2s,
        visibility 1.2s;
}

#intro.hidden {

    opacity: 0;

    visibility: hidden;

    pointer-events: none;
}

#introWarning {

    color: #6e0000;

    font-family: monospace;

    font-size: 14px;

    letter-spacing: 6px;

    animation:
        introBlink 1s infinite;
}

@keyframes introBlink {

    50% {
        opacity: .15;
    }
}

#introTerminal {

    margin-top: 35px;

    width: min(90%, 550px);

    color: #505050;

    font-family: monospace;

    font-size: 12px;

    line-height: 2;
}

#introTerminal p:nth-child(4) {

    color: #8a0000;
}

#introDynamic {

    color: #aaa;

    margin-top: 10px;
}

#introContinue {

    margin-top: 45px;

    color: #333;

    font-family: monospace;

    font-size: 10px;

    letter-spacing: 4px;

    cursor: pointer;

    animation: introContinue 1.4s infinite;
}

@keyframes introContinue {

    50% {
        color: #888;
    }
}


/* =========================================================
   MAIN SITE
========================================================= */

#site {
    opacity: 0;

    transition: opacity 1.5s;
}

#site.loaded {
    opacity: 1;
}


/* =========================================================
   HEADER
========================================================= */

header {

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;

    height: 72px;

    padding: 0 5%;

    display: flex;

    align-items: center;

    justify-content: space-between;

    z-index: 1000;

    background:
        linear-gradient(
            rgba(0,0,0,.94),
            rgba(0,0,0,.7)
        );

    border-bottom: 1px solid #171717;

    backdrop-filter: blur(10px);
}

.logo {

    display: flex;

    flex-direction: column;

    font-weight: 900;

    letter-spacing: 2px;
}

.logo span {

    font-size: 15px;
}

.logo small {

    color: #750000;

    font-size: 9px;

    letter-spacing: 5px;
}

nav {

    display: flex;

    gap: 5px;
}

nav button {

    background: transparent;

    border: 0;

    padding: 10px 14px;

    color: #555;

    font-size: 10px;

    font-weight: bold;

    letter-spacing: 2px;

    cursor: pointer;

    transition: .2s;
}

nav button:hover {

    color: #b00000;

}

#systemStatus {

    color: #4d0000;

    font-family: monospace;

    font-size: 9px;

    letter-spacing: 2px;
}


/* =========================================================
   PAGES
========================================================= */

.page {

    min-height: 100vh;

    padding: 130px 9% 100px;

    position: relative;

    border-bottom: 1px solid #111;

    background:
        radial-gradient(
            circle at 50% 50%,
            #080101,
            #000 65%
        );
}

.page:nth-child(even) {

    background:
        radial-gradient(
            circle at 20% 30%,
            #0b0101,
            #000 60%
        );
}


/* =========================================================
   HOME
========================================================= */

#home {

    display: flex;

    align-items: center;

    justify-content: space-between;

    overflow: hidden;

    min-height: 100vh;
}

.home-left {

    max-width: 680px;

    position: relative;

    z-index: 10;
}

.tiny-warning {

    display: inline-block;

    padding: 7px 10px;

    border-left: 2px solid #720000;

    color: #555;

    font-family: monospace;

    font-size: 9px;

    letter-spacing: 3px;
}

#mainTitle {

    margin-top: 30px;

    font-size:
        clamp(
            65px,
            10vw,
            145px
        );

    line-height: .72;

    letter-spacing: -9px;

    color: #ddd;

    text-shadow:
        4px 0 #730000,
        -2px 0 #111;

    animation: titleIdle 7s infinite;
}

@keyframes titleIdle {

    0%, 93%, 100% {
        transform: none;
    }

    94% {
        transform: translate(-7px, 2px);
    }

    95% {
        transform: translate(6px, -1px);
    }

    96% {
        transform: none;
    }
}

#mainTitle span {

    color: #730000;

}

#home h2 {

    margin-top: 18px;

    font-size:
        clamp(
            45px,
            7vw,
            90px
        );

    letter-spacing: -5px;

    color: #750000;
}

.subtitle {

    margin-top: 10px;

    color: #444;

    font-family: monospace;

    letter-spacing: 7px;

    font-size: 12px;
}

#homeMessage {

    margin-top: 35px;

    color: #666;

    font-family: monospace;

    font-size: 13px;

    line-height: 2;
}

.homeButtons {

    display: flex;

    gap: 12px;

    margin-top: 35px;
}

.danger {

    padding: 15px 25px;

    border: 1px solid #710000;

    background: #650000;

    color: white;

    font-weight: 900;

    letter-spacing: 1px;

    cursor: pointer;

    transition: .15s;
}

.danger:hover {

    background: #a00000;

    box-shadow:
        0 0 35px rgba(140,0,0,.4);

}

.ghost {

    padding: 15px 25px;

    border: 1px solid #242424;

    background: #050505;

    color: #555;

    cursor: pointer;

}

.ghost:hover {

    color: #ddd;

    border-color: #600000;
}

#homeWarning {

    margin-top: 35px;

    color: #333;

    font-family: monospace;

    font-size: 9px;

    letter-spacing: 2px;
}

#homeWarning span {

    color: #710000;

    margin-right: 10px;
}


/* =========================================================
   ENTITY
========================================================= */

.entity {

    position: absolute;

    right: 8%;

    top: 50%;

    width: 440px;

    height: 520px;

    transform:
        translateY(-50%);

    transition:
        transform .12s ease-out;

    z-index: 5;

    filter:
        drop-shadow(
            0 0 35px rgba(100,0,0,.12)
        );
}

.entityHead {

    position: absolute;

    width: 350px;

    height: 430px;

    left: 45px;

    top: 40px;

    border-radius:
        48%
        48%
        43%
        43%;

    background:
        radial-gradient(
            ellipse at 50% 30%,
            #101010,
            #020202 65%
        );

    box-shadow:
        0 0 80px rgba(0,0,0,.9);
}

.eye {

    position: absolute;

    top: 155px;

    width: 80px;

    height: 31px;

    background:
        radial-gradient(
            ellipse,
            #e00000 0%,
            #7c0000 45%,
            #1a0000 75%
        );

    border-radius: 50%;

    box-shadow:
        0 0 15px #9a0000,
        0 0 50px rgba(150,0,0,.3);

    overflow: hidden;
}

.eye-left {

    left: 58px;

    transform: rotate(7deg);
}

.eye-right {

    right: 58px;

    transform: rotate(-7deg);
}

.pupil {

    position: absolute;

    width: 15px;

    height: 15px;

    left: 33px;

    top: 8px;

    background: #000;

    border-radius: 50%;
}

.entityMouth {

    position: absolute;

    left: 50%;

    bottom: 80px;

    width: 210px;

    height: 95px;

    transform:
        translateX(-50%)
        perspective(100px)
        rotateX(-5deg);

    border-bottom:
        4px solid #780000;

    border-radius:
        0 0 50% 50%;

    display: flex;

    justify-content: center;

    align-items: flex-end;

    gap: 7px;

    overflow: hidden;
}

.entityMouth div {

    width: 13px;

    height: 48px;

    background:
        linear-gradient(
            to bottom,
            #ddd,
            #555
        );

    clip-path:
        polygon(
            0 0,
            100% 0,
            75% 100%,
            25% 100%
        );
}

#randomMessage {

    position: absolute;

    bottom: 40px;

    right: 7%;

    color: #330000;

    font-family: monospace;

    font-size: 10px;

    letter-spacing: 2px;

    z-index: 20;

    opacity: 0;

    transition: opacity .2s;
}

#randomMessage.visible {

    opacity: 1;

}


/* =========================================================
   PAGE HEADER
========================================================= */

.pageHeader {

    margin-bottom: 65px;
}

.pageHeader span {

    color: #570000;

    font-family: monospace;

    font-size: 10px;

    letter-spacing: 3px;
}

.pageHeader h2 {

    margin-top: 15px;

    font-size:
        clamp(
            45px,
            7vw,
            95px
        );

    line-height: .8;

    letter-spacing: -5px;
}


/* =========================================================
   FILES
========================================================= */

.fileLayout {

    display: grid;

    grid-template-columns:
        1.2fr .8fr;

    gap: 40px;
}

.terminal {

    border: 1px solid #191919;

    background: #010101;
}

.terminalTop {

    padding: 12px 18px;

    border-bottom: 1px solid #151515;

    display: flex;

    justify-content: space-between;

    color: #444;

    font-family: monospace;

    font-size: 10px;
}

.terminalTop span:last-child {

    color: #6e0000;
}

#terminal {

    padding: 30px;

    min-height: 330px;

    color: #555;

    font-family: monospace;

    font-size: 12px;

    line-height: 2.2;
}

.red {

    color: #8d0000;
}

.dangerText {

    color: #a00000;

    animation:
        terminalBlink 2s infinite;
}

@keyframes terminalBlink {

    50% {
        opacity: .2;
    }
}

.fileInfo {

    display: flex;

    flex-direction: column;

    gap: 10px;
}

.file {

    min-height: 70px;

    padding: 20px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    border: 1px solid #191919;

    background: #030303;

    font-family: monospace;

    font-size: 11px;
}

.file b {

    color: #600000;

    font-size: 9px;
}


/* =========================================================
   SONGS
========================================================= */

.songs {

    display: flex;

    flex-direction: column;

    gap: 12px;

    max-width: 900px;
}

.song {

    min-height: 100px;

    padding: 20px 25px;

    display: grid;

    grid-template-columns:
        60px 1fr 130px;

    align-items: center;

    border: 1px solid #1b1b1b;

    background: #030303;

    cursor: pointer;

    transition: .2s;
}

.song:hover {

    border-color: #620000;

    background: #080101;

    transform:
        translateX(5px);
}

.songNumber {

    color: #450000;

    font-family: monospace;

    font-size: 12px;
}

.song h3 {

    font-size: 19px;

    letter-spacing: 1px;
}

.song p {

    margin-top: 5px;

    color: #444;

    font-family: monospace;

    font-size: 9px;
}

.song > span {

    color: #555;

    font-family: monospace;

    font-size: 8px;

    text-align: right;
}

.song.corrupted {

    border-color: #350000;

    animation:
        corrupted 4s infinite;
}

@keyframes corrupted {

    50% {

        transform:
            translateX(-2px)
            skewX(.5deg);

    }
}

.song.unknown {

    opacity: .45;
}

#audioWarning {

    margin-top: 50px;

    color: #3d0000;

    font-family: monospace;

    font-size: 10px;

    letter-spacing: 3px;
}


/* =========================================================
   EXECUTE
========================================================= */

#download {

    display: flex;

    align-items: center;

    justify-content: center;

    text-align: center;
}

.execute {

    width: min(90%, 600px);

    padding: 70px 40px;

    border:
        1px solid #350000;

    background:
        radial-gradient(
            circle,
            #0b0101,
            #010101 70%
        );
}

.executeIcon {

    width: 60px;

    height: 60px;

    margin:
        0 auto 25px;

    display: flex;

    align-items: center;

    justify-content: center;

    border: 2px solid #650000;

    color: #8d0000;

    font-size: 30px;

    font-weight: bold;
}

.execute > span {

    color: #600000;

    font-family: monospace;

    font-size: 9px;

    letter-spacing: 4px;
}

.execute h2 {

    margin-top: 20px;

    font-size:
        clamp(
            70px,
            11vw,
            130px
        );

    line-height: .75;

    letter-spacing: -8px;
}

.execute h2 b {

    color: #720000;
}

.execute p {

    margin: 30px 0;

    color: #555;

    font-family: monospace;
}

.execute small {

    display: block;

    margin-top: 25px;

    color: #333;

    font-family: monospace;

    font-size: 9px;

    line-height: 1.8;
}


/* =========================================================
   FOOTER
========================================================= */

footer {

    min-height: 80px;

    padding: 25px 7%;

    display: flex;

    justify-content: space-between;

    align-items: center;

    border-top: 1px solid #111;

    color: #333;

    font-family: monospace;

    font-size: 9px;
}


/* =========================================================
   MODAL
========================================================= */

#modal {

    position: fixed;

    inset: 0;

    z-index: 7000;

    display: none;

    align-items: center;

    justify-content: center;

    background:
        rgba(0,0,0,.94);

    backdrop-filter:
        blur(10px);
}

#modal.active {

    display: flex;
}

.modalBox {

    width: min(90%, 500px);

    padding: 45px;

    position: relative;

    text-align: center;

    border:
        1px solid #590000;

    background: #030303;

    box-shadow:
        0 0 100px
        rgba(100,0,0,.2);
}

#closeModal {

    position: absolute;

    top: 12px;

    right: 15px;

    border: 0;

    background: transparent;

    color: #444;

    font-size: 28px;

    cursor: pointer;
}

#modalStatus {

    color: #650000;

    font-family: monospace;

    font-size: 9px;

    letter-spacing: 4px;
}

#modalTitle {

    margin-top: 20px;

    font-size: 42px;

    letter-spacing: -2px;
}

#modalText {

    margin: 25px 0;

    color: #555;

    font-family: monospace;

    font-size: 11px;

    line-height: 2;
}


/* =========================================================
   JUMPSCARE
========================================================= */

#jumpscare {

    position: fixed;

    inset: 0;

    z-index: 20000;

    display: none;

    background: #000;

    align-items: center;

    justify-content: center;

    overflow: hidden;
}

#jumpscare.active {

    display: flex;

    animation:
        scareShake .07s infinite;
}

@keyframes scareShake {

    0% {
        transform: translate(0);
    }

    25% {
        transform: translate(8px,-5px);
    }

    50% {
        transform: translate(-7px,6px);
    }

    75% {
        transform: translate(5px,4px);
    }

    100% {
        transform: translate(0);
    }
}

.scareFace {

    position: relative;

    width: 500px;

    height: 600px;

    background:
        radial-gradient(
            ellipse at center,
            #111,
            #000 70%
        );

    filter:
        contrast(2);
}

.scareEye {

    position: absolute;

    top: 190px;

    width: 120px;

    height: 50px;

    background: #ff0000;

    border-radius: 50%;

    box-shadow:
        0 0 30px #ff0000,
        0 0 100px #900000;
}

.scareEye.left {

    left: 65px;

    transform: rotate(8deg);
}

.scareEye.right {

    right: 65px;

    transform: rotate(-8deg);
}

.scareMouth {

    position: absolute;

    left: 50%;

    bottom: 90px;

    transform:
        translateX(-50%);

    width: 300px;

    height: 150px;

    border-bottom:
        8px solid #b00000;

    border-radius:
        0 0 50% 50%;

    display: flex;

    justify-content: center;

    align-items: flex-end;

    gap: 10px;
}

.scareMouth span {

    width: 20px;

    height: 80px;

    background: white;

    clip-path:
        polygon(
            0 0,
            100% 0,
            75% 100%,
            25% 100%
        );
}

#scareText {

    position: absolute;

    bottom: 8%;

    color: #a00000;

    font-family: monospace;

    font-size: 20px;

    font-weight: bold;

    letter-spacing: 10px;

    animation:
        scareText 0.3s infinite;
}

@keyframes scareText {

    50% {

        transform:
            translateX(8px);

        opacity: .4;
    }
}


/* =========================================================
   SPECIAL GLITCH
========================================================= */

body.glitch {

    animation:
        bodyGlitch .12s steps(2) 4;
}

@keyframes bodyGlitch {

    0% {
        transform: translate(0);
    }

    25% {
        transform: translate(-8px,2px);
    }

    50% {
        transform: translate(7px,-2px);
    }

    75% {
        transform: translate(-3px,3px);
    }

    100% {
        transform: translate(0);
    }
}


/* =========================================================
   MOBILE
========================================================= */

@media (max-width: 900px) {

    nav {
        display: none;
    }

    #systemStatus {
        display: none;
    }

    #home {

        justify-content: center;

        text-align: center;
    }

    .homeButtons {

        justify-content: center;
    }

    .entity {

        right: 50%;

        opacity: .16;

        transform:
            translate(50%,-50%)
            scale(.8);
    }

    .fileLayout {

        grid-template-columns: 1fr;
    }

    .song {

        grid-template-columns:
            45px 1fr;

        gap: 10px;
    }

    .song > span {

        display: none;
    }

    footer {

        flex-direction: column;

        gap: 12px;

    }

    .scareFace {

        transform: scale(.65);
    }
}
